@tailwind base;
@tailwind components;
@tailwind utilities;

html body * {
  font-family: 'Public Sans', Arial, sans-serif !important;
}
.css-1xrl4hz {
  font-size: 13.5px;
  letter-spacing: 0.7px;
}
.css-1wjen9k {
  padding: 30px 30px 50px 30px !important;
}
.v-popper__wrapper {
  max-width: 21rem;
  padding: 0;
  background: #000;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.00375rem;
}
